.about {
  padding: 4rem 1.5rem;
  background-color: var(--bg);
  color: var(--about);
  transition: background-color 0.3s, color 0.3s;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
  justify-content: center;
}

.about-image img {
  width: 260px;
  height: 290px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--primary);
}

.about-text {
  max-width: 600px;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
   font-family: 'Segoe UI', sans-serif;
  color: var(--primary);
}

.about-text p {
  line-height: 1.6;
  margin-bottom: 1rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.download-cv.btn {
  margin-top: 1.5rem;
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background: var(--primary);
  color: var(--bg);
  border-radius: 30px;
  font-weight: 500;
  transition: background 0.3s ease;
}

.download-cv.btn:hover {
  background:var(--hover);
}

 

.reveal {
  opacity: 0;
  transform: translateY(20px);
  animation: revealUp 0.6s forwards;
}

 

@keyframes revealUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
 