.footer {
  background: var(--bg);
  color: var(--about);
  padding: 2rem 1rem;
  text-align: center;
  border-top: 1px solid var(--border);
  position: relative;
  background-color: var(--footerbg);
}
.footer h3{
  color: var(--primary)
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  display: flex;
  gap: 1.6rem;
  font-size: 1.8rem;
}

.footer-icons a {
  color: var(--primary);
  transition: transform 0.3s, color 0.3s;
}

.footer-icons a:hover {
  color: var(--hover);
  transform: scale(1.2);
}

.scroll-top {
  position: absolute;
  top: 11px;
  right: 2rem;
  background: var(--primary);
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  color:var(--bg);
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
}

.scroll-top:hover {
  background: var(--hover2);
}

@media (max-width: 600px) {
  .scroll-top {
    right: 1rem;
  }
}
